{% extends 'base/master.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<header>
    <h1>Главная страница</h1>
</header>
<div class="space">
        <h2>Философия</h2>
    <p>- Красивое лучше, чем уродливое.</p>
    <p>- Явное лучше, чем неявное.</p>
    <p>- Простое лучше, чем сложное.</p>
    <p>- Сложное лучше, чем запутанное.</p>
    <p>- Плоское лучше, чем вложенное.</p>
    <p>- Разреженное лучше, чем плотное.</p>
    <p>- Читаемость имеет значение.</p>
    <p>- Особые случаи не настолько особые, чтобы нарушать правила.</p>
    <p>- При этом практичность важнее безупречности.</p>
    <p>- Ошибки никогда не должны замалчиваться.</p>
    <p>- Если они не замалчиваются явно.</p>
    <p>- Встретив двусмысленность, отбрось искушение угадать.</p>
    <p>- Должен существовать один и, желательно, только один очевидный способ сделать это.</p>
    <p>- Хотя он поначалу может быть и не очевиден, если вы не голландец.</p>
    <p>- Сейчас лучше, чем никогда.</p>
    <p>- Хотя никогда зачастую лучше, чем прямо сейчас.</p>
    <p>- Если реализацию сложно объяснить — идея плоха.</p>
    <p>- Если реализацию легко объяснить — идея, возможно, хороша.</p>
    <p>- Пространства имён — отличная штука! Будем делать их больше!</p>
</div>

{% endblock %}
