{% extends 'layouts/base.html' %}

{% block title %}Главная{% endblock title %}


{% block content %}
{% load static %}
<!-- Home Section Start -->
<header id="home" class="home-area hero-equal-height section-padding">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-8 col-md-8">
                <div class="text-left home-content z-index position-relative">
                    <h3>Добро пожаловать на мой сайт </h3>
                    <h1 class="cd-headline clip">
                        <span class="blc">I'm </span>
                        <span class="cd-words-wrapper">
                              <b class="is-visible">Grynevych Mykola</b>
                              <b>Student of IT Step</b>
                              <b>Django Developer</b>
                              <b>Python Developer</b>
                              <b>Freelancer</b>
                            </span>
                    </h1>
                    <div class="top-skills"><i class="fa fa-html5 bg-1" aria-hidden="true"></i>
                        <i class="fa fa-css3 bg-5" aria-hidden="true"></i>
                        <i class="fa fa-wordpress bg-4" aria-hidden="true"></i></div>
                    <div class="social-media">
                        <span>Follow Me: </span>
                        <a href="https://www.facebook.com/grynevych.mykola" target="_blank"><i class="fa fa-facebook"
                                                                                               aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/nick.grynevych/" target="_blank"><i class="fa fa-instagram"
                                                                                               aria-hidden="true"></i>
                        </a>
                        <!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>-->
                        <!--                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i> </a>-->
                        <!--                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Home Section End -->


<!-- About Section Start -->
<section id="about" class="about-area  section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Про сайт</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content">
                    <h3 class="text-center"><span class="color-text">Я, Гриневич Николай</span></h3>
                    <p class="text-center">Я знаю, что красота в глазах смотрящего, поэтому я,
                        как веб-дизайнер сайтов, работаю с вами, чтобы создать сайт,
                        который будет одновременно полностью функциональным и визуально привлекательным как для вас,
                        так и для вашей целевой аудитории.</p>
                    <h5 class="text-center">Владею следующими навыками:</h5>
                    <div class="skills-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <!--skill-item-->
                                <div class="skill-item">
                                    <h6>Python</h6>
                                    <div class="skill-progress">
                                        <div class="skill-progress-bar bg-1" role="progressbar" aria-valuenow="75"
                                             aria-valuemin="0" aria-valuemax="10" style="width: 40%;">
                                            <span>75%</span>
                                        </div>
                                    </div>
                                </div>

                                <!--skill-item-->
                                <div class="skill-item">
                                    <h6>Django</h6>
                                    <div class="skill-progress">
                                        <div class="skill-progress-bar bg-2" role="progressbar" aria-valuenow="75"
                                             aria-valuemin="0" aria-valuemax="10" style="width: 40%;">
                                            <span>75%</span>
                                        </div>
                                    </div>
                                </div>

                                <!--skill-item-->
                                <div class="skill-item">
                                    <h6>Figma </h6>
                                    <div class="skill-progress">
                                        <div class="skill-progress-bar bg-3" role="progressbar" aria-valuenow="35"
                                             aria-valuemin="0" aria-valuemax="10" style="width: 30%;">
                                            <span>35%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <!--skill-item-->
                                <div class="skill-item">
                                    <h6>HTML5 CSS3</h6>
                                    <div class="skill-progress">
                                        <div class="skill-progress-bar bg-4" role="progressbar" aria-valuenow="75"
                                             aria-valuemin="0" aria-valuemax="10" style="width: 30%;">
                                            <span>75%</span>
                                        </div>
                                    </div>
                                </div>

                                <!--skill-item-->
                                <div class="skill-item">
                                    <h6>Javascript</h6>
                                    <div class="skill-progress">
                                        <div class="skill-progress-bar bg-5" role="progressbar" aria-valuenow="30"
                                             aria-valuemin="0" aria-valuemax="10" style="width: 20%;">
                                            <span>30%</span>
                                        </div>
                                    </div>
                                </div>

                                <!--skill-item-->
                                <div class="skill-item">
                                    <h6>React</h6>
                                    <div class="skill-progress">
                                        <div class="skill-progress-bar bg-6" role="progressbar" aria-valuenow="30"
                                             aria-valuemin="0" aria-valuemax="10" style="width: 20%;">
                                            <span>30%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 text-center">
                                <a href="#contact" class="after-btn js-scroll m-t-20">Перейти к контактам</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->


<!-- Work & Eduction Section Start -->
<section id="resume" class="work-eduction-skills-area  section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Работа & Образование</h2>
                </div>
            </div>
        </div>
        <div class="work-eduction-wrapper">
            <div class="row">
                <div class="col-md-6 wow customFadeInUp  delay-0-2s slow"
                     style="visibility: visible; animation-name: customFadeInUp;">
                    <div class="timeline">
                        <div class="timeline-item">
                            <div class="icon bg-1"><i class="fa fa-black-tie m-l-5" aria-hidden="true"></i></div>
                            <div class="box">
                                <h5>Full stack Web Developer </h5>
                                <small class="bg-base-color"> 2020 - 2021</small>
                                <p>Django, Wordpress, Tilda.</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="icon bg-2"><i class="fa fa-black-tie m-l-5" aria-hidden="true"></i></div>
                            <div class="box">
                                <h5>Back-End Developer</h5>
                                <small class="bg-base-color"> 2020 - 2021</small>
                                <p>Python 3.9 +</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="icon bg-3"><i class="fa fa-black-tie m-l-5" aria-hidden="true"></i></div>
                            <div class="box ">
                                <h5>Web Designer </h5>
                                <small class="bg-base-color"> 2020 - 2021</small>
                                <p> Языки разметки: HTML(5), таблицы стилей CSS(3)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow customFadeInUp delay-0-4s slow"
                     style="visibility: visible; animation-name: customFadeInUp;">
                    <div class="timeline">
                        <div class="timeline-item">
                            <div class="icon bg-4"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="box ">
                                <h5>Skills</h5>
                                <small class="bg-base-color"> 2015 - 2021</small>
                                <p>Навыки умелого поиска в интернете</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="icon bg-5"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="box ">
                                <h5>Course</h5>
                                <small class="bg-base-color"> 2015 - 2021</small>
                                <p>Курсы в интернете, видеокурсы, книги, документация, форумы, статьи...</p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="icon bg-6"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="box">
                                <h5>Academic Degree</h5>
                                <small class="bg-base-color"> 2021</small>
                                <p>IT Step Academy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work & Eduction & Skills Section End -->


<!-- Project Section Start -->
<section id="project" class="project-area  section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Мои работы</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-container">
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all SEO webdesign">
                    <a class="popup-img project-item" href="static/img/projects/work-1.png"> <img
                            src="static/img/projects/work-1.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Web Development</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all photography">
                    <a class="popup-img project-item" href="static/img/projects/work-2.png"> <img
                            src="static/img/projects/work-2.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>SEO Optimization</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all SEO webdesign">
                    <a class="popup-img project-item " href="static/img/projects/work-3.png"> <img
                            src="static/img/projects/work-3.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Ui ux Design</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all SEO webdesig photographyn">
                    <a class="popup-img project-item" href="static/img/projects/work-4.png"> <img
                            src="static/img/projects/work-4.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Fast Communication</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all webdesign photography">
                    <a class="popup-img project-item" href="static/img/projects/work-5.png"> <img
                            src="static/img/projects/work-5.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Market Analysis</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all webdesign photography">
                    <a class="popup-img project-item" href="static/img/projects/work-6.png"> <img
                            src="static/img/projects/work-6.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Responsive Design</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all webdesign photography">
                    <a class="popup-img project-item" href="static/img/projects/work-7.png"> <img
                            src="static/img/projects/work-7.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Responsive Design</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- project-item -->
                <div class="col-lg-3 col-md-6 project-grid-item all webdesign photography">
                    <a class="popup-img project-item" href="static/img/projects/work-8.png"> <img
                            src="static/img/projects/work-8.png" alt="img">
                        <div class="project-img-overlay">
                            <div class="project-content">
                                <h4>Responsive Design</h4>
                                <span><i class="fa fa-search-plus"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- project more button -->
            <div class="col-md-12">
                <div class="project-more-btn text-center">
                    <a href="#contact" class="after-btn">Заказать сайт</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project Section End -->


<!-- Blog Section Start -->
<section id="blog" class="blog-area section-padding bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-white">
                    <h2>Мой блог</h2>
                </div>
            </div>
            <div class="col-lg-12 blog-item">
                <div class="single-blog">
                    <div class="post-img">
                        <a href="#">
                            <img src="static/img/blog/blog-1.png" alt=""/>
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span><i>15</i> Октября</span>
                        </div>
                        <div class="blog-body-title">
                            <h5><a href="#">Старт проекта магазина</a></h5>
                        </div>
                        <div class="blog-body-text text-white">
                            <p>В данном проекте успешно реализованы: Авторизация пользователей, корзина, каталог и
                                т.п</p>
                        </div>
                        <div class="blog-bottom-text-link">
                            <a class="after-btn" href="#">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 blog-item">
                <div class="single-blog">
                    <div class="post-img">
                        <a href="#">
                            <img src="static/img/blog/blog-2.png" alt=""/>
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-date">
                            <span><i>12</i> Ноября</span>
                        </div>
                        <div class="blog-body-title">
                            <h5><a href="#">Оформление личкого сайта</a></h5>
                        </div>
                        <div class="blog-body-text text-white">
                            <p>Заполнение сайта контекстом.
                                Реализовано: Авторизация пользователей, подписка на новости, обратная связь</p>
                        </div>
                        <div class="blog-bottom-text-link">
                            <a class="after-btn" href="#">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Hire Section 2 Start -->
<section id="hires" class="hire-area bg-red section-small-padding">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-7">
                <div class="text-white text-center-mobile">
                    <br>
                    <h2>Подписаться на рассылку</h2>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <div class="main-box">
                    <form id="form-2" method="post" action="{% url 'newsletter' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="Enter your E-Main"/>
                        </div>
                        <div class="submit-group">
                            <input type="submit" id="submit" value="Отправить"
                                   class="btn btn-success my-btn btn-block login-button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hire Section s2 End -->

<!-- Contact Section Start -->
<section id="contact" class="contact-area bg-dark section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title text-white">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <p class="form-message"></p>
                <br>
                <form class="contact-form form" id="form-1" method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="E-Mail для обратной связи" required="required"
                                           data-error="valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="Тема сообщения"
                                           required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="message" rows="16"
                                              placeholder="Текст сообщения" required="required"
                                              data-error="Please, leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="after-btn" data-text="Send Message">Отправить сообщение
                                </button>
                            </div>
                            <div class="messages">
                                <div class="alert alert alert-success alert-dismissable alert-dismissable hidden"
                                     id="msgSubmit">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        &times;
                                    </button>
                                    Thank You! your message has been sent.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

{% endblock content %}
