{% load static %}
<!-- Footer -->
			<footer id="pageFooter" class="bg-secondary pt-3 pb-1 position-relative text-center text-md-left wow fadeIn">
				<div class="container">
					<!-- ftNav -->
					<nav class="ftNav">
						<ul class="list-unstyled d-flex justify-content-center justify-content-md-start flex-wrap font-weight-normal text-uppercase mb-0">
							<li>
								<a href="#pageWrapper" class="smooth">Home</a>
							</li>
							<li>
								<a href="#about" class="smooth">About</a>
							</li>
							<li>
								<a href="#services" class="smooth">Services</a>
							</li>
							<li>
								<a href="#works" class="smooth">Works</a>
							</li>
							<li>
								<a href="#journey" class="smooth">Journey</a>
							</li>
							<li>
								<a href="#blog" class="smooth">Blog</a>
							</li>
							<li>
								<a href="#contact" class="smooth">Contact</a>
							</li>
						</ul>
					</nav>
					<!-- textCopyright -->
					<div class="textCopyright pt-4 d-md-none">
						<p><strong class="fwMedium">&copy; <a href=="javascript:void(0);">SmithJohnson</a> 2020 | All Rights Reserved</strong></p>
					</div>
				</div>
				<!-- btnTop -->
				<a href="#pageWrapper" class="btnTop smooth fas fa-arrow-up d-none d-md-flex align-items-center justify-content-center bg-warning text-white position-absolute"><span class="sr-only">back to top</span></a>
				<div id="loader" class="loader-holder">
					<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
				</div>
			</footer>