{% load static %}
<!-- platformBlock -->
				<section class="platformBlock bg-dark text-white pt-7 pb-4 pt-md-10 pb-md-7 pt-lg-16 pb-lg-12 pt-xl-23 pb-xl-18">
					<div class="container">
						<header class="text-center textSizeMedium mb-10 mb-md-16">
							<h2 class="text-white mb-5 wow fadeInUp">Looking to Design Similar Project ?</h2>
							<p class="wow fadeInUp" data-wow-delay="0.7s"><strong class="fwMedium">Contact me on any platform and i will happy to help you out ?</strong></p>
						</header>
						<div class="row justify-content-center">
							<div class="col-12 col-sm-6 col-md-4 colXlDiv5">
								<!-- pfbColumn -->
								<aside class="pfbColumn position-relative w-100 text-white rounded-lg pt-10 px-4 pb-4 mb-6 wow fadeInUp" data-wow-delay="1s">
									<i class="icomoon-telephone position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-white icn wow bounceIn" data-wow-delay="1.5s"><span class="sr-only">icon</span></i>
									<strong class="title d-block font-weight-normal mb-1">Call Me At:</strong>
									<strong class="d-block fwMedium">
										<a href="tel:02598569856">025 - 9856 - 9856</a>
									</strong>
								</aside>
							</div>
							<div class="col-12 col-sm-6 col-md-4 colXlDiv5">
								<!-- pfbColumn -->
								<aside class="pfbColumn position-relative w-100 text-white rounded-lg pt-10 px-4 pb-4 mb-6 wow fadeInUp" data-wow-delay="1.5s">
									<i class="icomoon-mail position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-white icn wow bounceIn" data-wow-delay="2s"><span class="sr-only">icon</span></i>
									<strong class="title d-block font-weight-normal mb-1">Email At:</strong>
									<strong class="d-block fwMedium">
										<a href="mailto:smith.j@gmail.com">smith.j@gmail.com</a>
									</strong>
								</aside>
							</div>
							<div class="col-12 col-sm-6 col-md-4 colXlDiv5">
								<!-- pfbColumn -->
								<aside class="pfbColumn position-relative w-100 text-white rounded-lg pt-10 px-4 pb-4 mb-6 wow fadeInUp" data-wow-delay="2s">
									<i class="fab fa-facebook-f position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-white icn wow bounceIn" data-wow-delay="2.5s"><span class="sr-only">icon</span></i>
									<strong class="title d-block font-weight-normal mb-1">Facebook</strong>
									<strong class="d-block fwMedium">
										<a href=="javascript:void(0);">smith.johnson/profile</a>
									</strong>
								</aside>
							</div>
							<div class="col-12 col-sm-6 col-md-4 colXlDiv5">
								<!-- pfbColumn -->
								<aside class="pfbColumn position-relative w-100 text-white rounded-lg pt-10 px-4 pb-4 mb-6 wow fadeInUp" data-wow-delay="2.5s">
									<i class="fab fa-twitter position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-white icn wow bounceIn" data-wow-delay="3s"><span class="sr-only">icon</span></i>
									<strong class="title d-block font-weight-normal mb-1">Twitter</strong>
									<strong class="d-block fwMedium">
										<a href=="javascript:void(0);">@smith.joh</a>
									</strong>
								</aside>
							</div>
							<div class="col-12 col-sm-6 col-md-4 colXlDiv5">
								<!-- pfbColumn -->
								<aside class="pfbColumn position-relative w-100 text-white rounded-lg pt-10 px-4 pb-4 mb-6 wow fadeInUp" data-wow-delay="3s">
									<i class="fab fa-linkedin-in position-absolute bg-warning rounded-circle d-flex align-items-center justify-content-center text-white icn wow bounceIn" data-wow-delay="3.5s"><span class="sr-only">icon</span></i>
									<strong class="title d-block font-weight-normal mb-1">Linkedin</strong>
									<strong class="d-block fwMedium">
										<a href=="javascript:void(0);">linkedin/smith.joh</a>
									</strong>
								</aside>
							</div>
						</div>
					</div>
				</section>