<!-- Footer Section Start -->
<footer class="footer-area">
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-left">
                    <p>Copyright &copy; 2021 - All Right Reserved.</p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="footer-social-media">
                        <a href="https://www.facebook.com/grynevych.mykola" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
<!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>-->
                        <a href="https://www.instagram.com/nick.grynevych/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
<!--                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i> </a>-->
<!--                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a>-->
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <p>GRYNEVYCH NIKOLAY - Kyiv, 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
