{% extends 'base/master.html' %}

{% block title %}Добавление сотрудника{% endblock %}

{% block content %}
<div class="main-box">
    <h2>Добавление сотрудника</h2>
    <form action="/employees/create" method="post" enctype="multipart/form-data">
        <p>
            <label for="name">Имя сотрудника:</label><br>
            <input type="text" id="name" name="name" class="inp" required>
        </p>
        <p>
            <label for="phone">Телефон сотрудника:</label><br>
            <input type="text" id="phone" name="phone" class="inp" required>
        </p>
        <p>
            <label for="email">Email сотрудника:</label><br>
            <input type="text" id="email" name="email" class="inp" required>
        </p>
        <p>
            <label for="position">Должность сотрудника:</label><br>
            <input type="text" id="position" name="position" class="inp" required>
        </p>
        <p>
            <label for="image">Изображение:</label><br>
            <input type="file" id="image" name="image" class="inp" required>
        </p>
        <p style="text-align: center; margin-top: 25px">
            <input type="submit" value="Отправить" class="btn btn-success my-btn">
            <input type="reset" value="Очистить" class="btn btn-danger my-btn">
        </p>
    </form>
</div>
<style>
    form {
    border: 1px solid white;
    width: 75%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px 30px 15px 30px;
    background-color: whitesmoke;
    color: gray;
    text-align: left;
    }

    .inp {
    width: 99%;
    padding: 5px;
    }

    .my-btn {
    width: 120px;
    padding: 3px;
    border-radius: 5px;
    }

</style>
{% endblock %}
