{% load static %}
<!--Jquery js-->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ_mGhah8EApmFiXYYBsdBuygviP2M2EE"></script>
<script src="{% static 'js/gmap3.min.js' %}"></script>
<!--validator js-->
<script src="{% static 'js/validator.min.js' %}"></script>

<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<!--Site Main js-->
<script src="{% static 'js/main.js' %}"></script>
<!--<script src="{% static 'js/register.js' %}"></script>-->